.logInAnchorPane {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #ffffff 30%, #00a3c3);
}

.logInButt {
    -fx-border-radius: 5px 5px 5px 5px;
    -fx-border-color: #ACACAC;
    -fx-background-color: #78D5D7;
}

.logInButt:hover {
    -fx-background-color: #dae7f3;
}

.inputs {
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-border-color: black;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-background-color: transparent;
}
