.pickerBorders {
    -fx-border-color: black;
    -fx-border-radius: 8px 8px 8px 8px;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-background-color: transparent;
}

.pickerBorders:focused {
    -fx-background-color: transparent;
}
